body {
  color: black;
}

#chapters {
    font-size: 25px;
}

#captions {
  border: none;
  font-size: 40px;
  display: flex;
  align-items: center;
  margin-left: 190px;
  margin-top: 15px;
  padding: 20px;
  border-radius: 15px;
}

#title{
  font-family: 'Staatliches', cursive;
  font-size: 30px;
}

#headline{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

#summ {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

#summary {
  height: 300px;
  max-height: 100%;
  overflow-y: auto !important;
}


#bold-sum {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

