
#chapters {
  font-size: 25px;
}

#captions {
  border: none;
  font-size: 40px;
  display: flex;
  align-items: center;
  margin-left: 190px;
  margin-top: 15px;
  padding: 20px;
  border-radius: 15px;
}

#title{
  font-family: 'Staatliches', cursive;
  font-size: 30px;
}

#headline{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

#summ {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

#summary {
  border: 15px;
  border-color: #00014E;
  border-style: double;
  color: #00014E;
  height: 370px;
  max-height: 100%;
  overflow-y: auto !important;
}
#bold-sum {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.row {
  margin-top: 20px;
  width: 100%;
}

.header {
  font-family: 'Staatliches', cursive;
  font-weight: 900;
  font-size: 70px;
  color: #566DE8;
  text-align: center;
}

video {
  border: 15px;
  border-style: double;
  border-color: #00014E;
}

#subtitles {
  color: #00014E;
}

#pad-row {
  padding-left: 5em;
  padding-left: 5em;
}